.Upload {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 36px 32px;
    max-width: 402px;
    width: 100%;
    text-align: center;
}

h1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
}

.Upload__paragraph {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.035em;
    color: #828282;
    margin: 15.99px 0 29.62px 0;
}
