.LinkCopy {
 display: flex;
 gap: 14px;
 border-radius: 8px;
 max-width: 338px;
 background-color: #F6F8FB;
 border: 1px solid #E0E0E0;
 justify-content: space-between;
 align-items: center;
padding: 1px;
}
.LinkCopy__link {
  max-width: 240px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 8px;
  color: #4F4F4F;
  line-height: 12px;
  margin-left: 7.12px;
}
.LinkCopy__button {
  max-width: 74px;
  width: 100%;
  height: 30px;
  margin: 0;
  border-radius: 8px;
  background-color: #2F80ED;
  border: none;
  color: white;
  font-size: 8px;
  font-weight: 500;
  font-family: 'Poppins';
  cursor: pointer;
}