.DragAndDrop {
    display: flex;
    flex-direction: column;
    max-width: 338px;
    width: 100%;
}

.DragAndDrop__dashed {
    background: #F6F8FB;
    border: 1px dashed #97BEF4;
    border-radius: 12px;
    padding: 35.84px 0 39.57px 0;
}

.DragAndDrop__dashed > div {
    height: 88.24px;
    margin-bottom: 37.26px;
}

.DragAndDrop__dashed > span {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.035em;
    color: #BDBDBD;
}

.DragAndDrop__or {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.035em;
    color: #BDBDBD;
    margin: 18.91px 0 21.62px 0;
}

.DragAndDrop__ChooseFile {
    background: #2F80ED;
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.035em;
    color: #FFFFFF;
    padding: 8px 16px;
    max-width: 101px;
    margin: 0 auto;
    border: none;
    outline: none;
    cursor: pointer;
}
